{% block geo_address_widget %}
    <div ng-app='GeoAutocomplete'>
    {% if attr is not defined %}
        {% set attr = [] %}
    {% endif %}
    {# check data-id #}
    {% if attr.data_id is not defined %}
        {% set attr = attr|merge({'data_id': 2}) %}
    {% endif %}
    {# check placeholder #}
    {% if attr.placeholder is not defined %}
        {% set attr = attr|merge({'placeholder': 'Հասցեի որոնում'}) %}
    {% endif %}
    {# check allow_new #}
    {% if attr.allow_new is not defined %}
        {% set attr = attr|merge({'allow_new': false}) %}
    {% endif %}
    {# check button_name #}
    {% if attr.button_name is not defined %}
        {% set attr = attr|merge({'button_name': 'Ավելացնել'}) %}
    {% endif %}
    {# check button_class #}
    {% if attr.button_class is not defined %}
        {% set attr = attr|merge({'button_class': ''}) %}
    {% endif %}
    {# check input_class #}
    {% if attr.input_class is not defined %}
        {% set attr = attr|merge({'input_class': 'form-control form-control-small'}) %}
    {% endif %}

    {% verbatim %}
        <input type="hidden" {% endverbatim %}id="{{ id }}" name="{{ full_name }}" value="{{ value }}" {% verbatim %} class="form-control form-control-small"
        ng-model="geoObj{% endverbatim %}{{ attr['data_id'] }}{% verbatim %}.originalObject.id" yi-input/>
    <yit-autocomplete id="members{% endverbatim %}{{ attr['data_id'] }} {% verbatim %}"
    placeholder="{% endverbatim %}{{ attr['placeholder'] }} {% verbatim %}"
    pause="500"
    selectedobject="geoObj{% endverbatim %}{{ attr['data_id'] }} {% verbatim %}"
    url="/am/geo/address/autocomplete/"
    titlefield="title"
    init-title-field="title"
    datafield="data"
    addbutton="{% endverbatim %}new{% verbatim %}"
    addbuttonclass="{% endverbatim %}{{ attr['button_class'] }} {% verbatim %}"
    addnew="{% endverbatim %}{{ attr['allow_new'] }} {% verbatim %}"
    addnewurl="/am/geo/putAddress/"
    {% endverbatim %}
    {% if value is not empty %}
    {% verbatim %}
        init-url="/am/geo/address/{{ geoObj{% endverbatim %}{{ attr['data_id'] }}{% verbatim %}.originalObject.id }}"
    {% endverbatim %}
{% endif %}
{% verbatim %}
        inputclass="{% endverbatim %}{{ attr['input_class'] }} {% verbatim %}">
    </yit-autocomplete>
{% endverbatim %}
    </div>
    {% endblock %}